.article{
    .exit-full-screen{
        display: none;
    }
    &:fullscreen{
        .exit-full-screen{
            display: inline-block;
        }
        background: #aaa;
        padding: 10px;
        font-size: 18px;
    }
}