*{
    padding: 0;
    margin: 0;
}
body{
    padding: 50px;
}
.box{
    border: 1px solid #000;
    height: 4000px;
    position: relative;
   img{
       display: block;
       width: 25%;
       position: absolute;
       left: 0;
   } 
}